In [54]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [55]:
# Import the API key.
from config import g_key

In [56]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2022-02-05 03:05:25,-21.3393,55.4781,80.28,74,100,8.05
1,1,Kruisfontein,ZA,2022-02-05 03:07:26,-34.0033,24.7314,64.89,78,63,4.03
2,2,Vardo,NO,2022-02-05 03:03:11,70.3705,31.1107,21.60,91,100,27.67
3,3,Bettiah,IN,2022-02-05 03:10:57,26.8000,84.5000,56.52,82,63,3.38
4,4,Mataura,NZ,2022-02-05 03:05:04,-46.1927,168.8643,58.48,37,7,4.90

Max Temp HeatMap

In [57]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [58]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Heatmap Layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [60]:
# Temperature gradient differences.
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Percent Humidity Heatmap

In [61]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Humidity.
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Percent Cloudiness HeatMap

In [62]:
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Wind Speed HeatMap

In [63]:
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

Get Vacation Criteria

For the app we are creating, we need to prompt the user to enter the minimum and maximum temperature ranges as floating-point decimal numbers to filter the city_data_df DataFrame.

In [64]:
# Ask Customer for min and max value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [65]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2022-02-05 03:05:25,-21.3393,55.4781,80.28,74,100,8.05
8,8,Bengkulu,ID,2022-02-05 03:05:08,-3.8004,102.2655,76.21,86,100,3.76
15,15,Rikitea,PF,2022-02-05 03:06:39,-23.1203,-134.9692,79.07,68,4,8.14
18,18,Saint-Philippe,RE,2022-02-05 03:11:00,-21.3585,55.7679,80.19,89,100,25.17
21,21,Arraial Do Cabo,BR,2022-02-05 03:08:36,-22.9661,-42.0278,75.81,87,100,22.39
22,22,Puerto Ayora,EC,2022-02-05 03:06:36,-0.7393,-90.3518,75.54,92,56,4.00
24,24,Butaritari,KI,2022-02-05 03:02:44,3.0707,172.7902,82.63,77,36,17.76
25,25,Vaini,TO,2022-02-05 03:03:23,-21.2000,-175.2000,77.16,94,100,17.27
27,27,Hithadhoo,MV,2022-02-05 03:05:02,-0.6000,73.0833,81.79,73,99,11.63
29,29,Kapaa,US,2022-02-05 03:11:01,22.0752,-159.3190,77.32,85,40,3.00

In [66]:
preferred_cities_df.count()

City_ID       107
City          107
Country       106
Date          107
Lat           107
Lng           107
Max Temp      107
Humidity      107
Cloudiness    107
Wind Speed    107
dtype: int64

Get Travel Destinations

In [67]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0      Saint-Pierre      RE     80.28 -21.3393   55.4781
8          Bengkulu      ID     76.21  -3.8004  102.2655
15          Rikitea      PF     79.07 -23.1203 -134.9692
18   Saint-Philippe      RE     80.19 -21.3585   55.7679
21  Arraial Do Cabo      BR     75.81 -22.9661  -42.0278
22     Puerto Ayora      EC     75.54  -0.7393  -90.3518
24       Butaritari      KI     82.63   3.0707  172.7902
25            Vaini      TO     77.16 -21.2000 -175.2000
27        Hithadhoo      MV     81.79  -0.6000   73.0833
29            Kapaa      US     77.32  22.0752 -159.3190

Retrieve Hotels from Nearby Search

In [68]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [69]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.