## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Geraldton,AU,-28.7667,114.6000,111.61,7,0,10.36,clear sky
1,1,Nara,JP,34.6851,135.8049,42.12,62,88,15.84,overcast clouds
2,2,Kanniyakumari,IN,8.0833,77.5667,81.63,71,45,6.60,scattered clouds
3,3,Mariahu,IN,25.6167,82.6167,55.36,55,0,6.96,clear sky
4,4,La Ronge,CA,55.1001,-105.2842,-7.35,77,100,6.91,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Mariahu,IN,25.6167,82.6167,55.36,55,0,6.96,clear sky
17,17,Havelock,US,34.8791,-76.9013,65.01,94,100,5.99,moderate rain
22,22,Port Alfred,ZA,-33.5906,26.8910,69.40,84,96,11.90,light rain
24,24,Lompoc,US,34.6391,-120.4579,56.37,76,0,4.61,clear sky
33,33,Boende,CD,-0.2167,20.8667,69.60,81,100,1.70,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
828,828,Faxinal,BR,-24.0003,-51.3194,65.44,96,95,2.71,overcast clouds
835,835,Montes Claros,BR,-16.7350,-43.8617,69.58,100,0,0.00,clear sky
838,838,Tombouctou,ML,20.0000,-3.0000,58.23,13,0,9.06,clear sky
849,849,Lucapa,AO,-8.4192,20.7447,61.41,98,95,1.79,overcast clouds
850,850,Miraflores,MX,19.2167,-98.8083,61.45,55,11,2.19,few clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                200
City                   200
Country                195
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Weather Description    200
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn‚Äôt have empty rows.
clean_df= preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Mariahu,IN,25.6167,82.6167,55.36,55,0,6.96,clear sky
17,17,Havelock,US,34.8791,-76.9013,65.01,94,100,5.99,moderate rain
22,22,Port Alfred,ZA,-33.5906,26.8910,69.40,84,96,11.90,light rain
24,24,Lompoc,US,34.6391,-120.4579,56.37,76,0,4.61,clear sky
33,33,Boende,CD,-0.2167,20.8667,69.60,81,100,1.70,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
828,828,Faxinal,BR,-24.0003,-51.3194,65.44,96,95,2.71,overcast clouds
835,835,Montes Claros,BR,-16.7350,-43.8617,69.58,100,0,0.00,clear sky
838,838,Tombouctou,ML,20.0000,-3.0000,58.23,13,0,9.06,clear sky
849,849,Lucapa,AO,-8.4192,20.7447,61.41,98,95,1.79,overcast clouds
850,850,Miraflores,MX,19.2167,-98.8083,61.45,55,11,2.19,few clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Mariahu,IN,55.36,clear sky,25.6167,82.6167,
17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,
22,Port Alfred,ZA,69.40,light rain,-33.5906,26.8910,
24,Lompoc,US,56.37,clear sky,34.6391,-120.4579,
33,Boende,CD,69.60,overcast clouds,-0.2167,20.8667,
35,Lebu,CL,56.95,broken clouds,-37.6167,-73.6500,
42,Gasa,PS,51.91,overcast clouds,31.5000,34.4667,
53,Coquimbo,CL,64.13,clear sky,-29.9533,-71.3436,
55,Ancud,CL,53.22,clear sky,-41.8697,-73.8203,
57,Faya,SA,51.91,scattered clouds,18.3851,42.4509,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

THAKUR GATE
Sherwood Motel
The Halyards Hotel
Holiday Inn Express Lompoc, an IHG Hotel
Hotel not found... skipping.
Hostal Las Lilas
ÿ±ÿßÿ®ÿ∑ÿ© ÿßŸÑŸÅŸÜÿßŸÜŸäŸÜ ÿßŸÑŸÅŸÑÿ≥ÿ∑ŸäŸÜŸäŸäŸÜ
Hostel Del Puerto
Hotel Arena Gruesa
ÿßŸÖŸÑÿßŸÉ ÿÆÿßŸÑÿØ ÿßŸÑÿ¥ÿπÿ¥Ÿàÿπ
39 On Nile Guest House
Pousada Vila dos Ip√™s
Tu Casa
Hotel not found... skipping.
Circuit House
Southern Sun Waterfront Cape Town
ÿßŸÑŸáÿßÿØŸä ÿßÿ®Ÿàÿ¥ÿπÿßŸÑŸá ÿ≥ÿ±ÿ™
Hotel Branco I
Changyu Hotel
Don Eddie's Landing
Hotel Santa Cruz
Mini Hotel Central
Redface Studios Meubl√©s
dyd -mar Hotel
Dalaba Eco-Lodge Gambia
Hotel do Campo
Bredasdorp Country Manor
CHACARA BAILLY
Gran Hotel Mar del Plata
Quinta das Giestas
Diego De Almagro Coyhaique
Nuevo Hotel Plaza
Quinta da Meia Eira
SAM HOTEL
Days Inn & Suites by Wyndham Artesia
Crowne Plaza Beirut, an IHG Hotel
Thanda Vista B&B
Beau Site
The Ritz-Carlton, Half Moon Bay
Baymont by Wyndham Columbia Northwest
Hotel Tesoro Los Cabos
Hotel not found... skipping.
Chita Lodge Samfya
Ritz Lauca
Abha Hotel
Hideaway Bahamas Beach Club
Misty Waves Boutique Hotel
San Francisco de La Selva
Best Western Patriots Point
Amerik HOTEL
Pestana Bahia Praia
Central Mosque Galamawa
Hotel Boutique Las Azucenas
El Medina
OlusHome
Hotel not found... skipping.
El rranchito michuacan de ocampos
KD Travellers Home
Hotel not found... skipping.
Bhudisagar
Humacao Bed & Breakfast
Casa Laguna, Bed & Breakfast
Hotel Villa Kitzia Huacho
Hotel RIKMAN Continental
Delano Hotel, Bahir Dar
Case de Passage De la Prefecture
Oumou Elghoura
Residencial Karime
Flamingo Beach Hotel
Bloc D tazoumbirt (amar)
Hampton Inn Ukiah
KOLPING Hotel
Cuadra RT
Hotel
Hotel not found... skipping.
Casa Das Faias
Lagrota restaurant
La Quinta Inn & Suites by Wyndham Buena Park
Royal Kutachika Lodge
Hotel e Restaurante Quitandinha
Hotel Touring Club
Ditlhapi Guest House
Apartment Av. Castelao
My Den Beachfront Bed and Breakfast | Self-Catering
Shenzhen Shanghai Hotel
Bidhan
Carrefour o√π ouvriers dorment
Hotel not found... skipping.
Hotel not found... skipping.
Villaxochilt
OPIPAAF (OTHUMBA PITHUA PALWONGA )
Lovers Point Inn
Marine Club Beach Resort
Hotel Atoll Emerald Miyakojima
Vila Nova Hotel
Railway motel
H√¥tel
Hotel Krrish Inn
Hotel San Isidro Oficial
Rietjiesbos Self Catering
Yuehai Hotel
Hilton Durban
Hotel Akbar International
Adarsh home üè†
Hawthorn Suites By Wyndham Las Vegas/Henderson
Hotel not found... skipping.
Water's Edge
Benin Dan Kaabou Heberge
Hotel not found... skipping.
Hotel Kalukembe
Expeditions T√©n√©re voyages
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
Hotel not found... skipping.
Hotel Patagonia
Oyster Bay House Rental
Best Western Corte Madera Inn
H√¥tel La Giralda
Protea Hotel by Marriott Zambezi River Lodge
Moffat Guesthouse
Ramada Plaza Chibi
River Side Lodge
Campo Escuela Callejones Park
Hotel Yodi Chute D' Ekom Nkan
Auberge SONDAR AFACI
NRC office
Hotel not found... skipping.
HOTEL PALACE AVENIDA & CAIAP√ì TURISMO
Hotel not found... skipping.
Pacifica Lighthouse, Trademark Collection by Wyndham
Hotel not found... skipping.
Xincheng Tourism Industry
Blue Bay Lodge
Kirari Guest House
Hotel not found... skipping.
Movenpick Hotel Doha
Quality Inn & Suites Cameron Park Shingle Springs
Hotel Zenit Coru√±a
Orchid Main Camp Goubet
B&B La Casona de Nazaret
Tibesti Hotel
Playa Bonita Resort
MAIRIE DE BERBERATI
Complejo Tur√≠stico Farelluk
Holiday Inn Express & Suites Hope Mills-Fayetteville Arpt, an IHG Hotel
Ravin Hotel
Minshuku Agaihama
Hotel Camino Real
Hotel not found... skipping.
H√¥tel Liptako
Hotel Birendra Prabha
Moon light Furnished Units
Nuba Nile
Hosteria Sampedro
Hotel San Rafael
Hotel Fontana Plaza
Park hotel
LERABA HOTEL
K G N HOTEL
Shishime Hotel
Pleasanton Marriott
Hotel not found... skipping.
Hotel Galvarino
Debright Motel
Valle Aridane
Hotel not found... skipping.
Gran Hotel Bolivar Lima
Circuit House
The Westin San Jose
Hotel Summery
Laurel Inn & Conference Center
SPOT ON 43231 Hotel Aura Inn SPOT
Centrale Hotel
ÿ≠ÿßŸÖÿØ ŸÖÿ≠ŸÖÿØ ŸÜŸàÿ±
Hotel not found... skipping.
Huatai International Hotel
ŸÜ€å⁄© ÿ≥ÿ±ÿ¥ÿ™
Avista Resort
Hotel not found... skipping.
Ekanta Hotel Pvt. Ltd
Hotel Mirage
Hotel not found... skipping.
Senate Hotel
‡¶ú‡¶æ‡¶Æ‡¶æ‡¶≤‡¶™‡ßÅ‡¶∞ ‡¶Æ‡¶°‡ßá‡¶≤ ‡¶õ‡¶æ‡¶§‡ßç‡¶∞‡¶æ‡¶¨‡¶æ‡¶∏
Stone House Guest House
Hotel Arrarte
Chipinge Breeze Lodge
Upper Ballard Campground
LA PERLE DE BOSTON
Blendana Hotel Assosa
Hotel not found... skipping.
Hotel Pires
ibis Montes Claros Shopping
Hotel not found... skipping.
Resid√™ncia Ulisses Dos Santos
Hotel Mansi√≥n

In [13]:
hotel_df.count()

City                   195
Country                195
Max Temp               195
Weather Description    195
Lat                    195
Lng                    195
Hotel Name             195
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Mariahu,IN,55.36,clear sky,25.6167,82.6167,THAKUR GATE
17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel
22,Port Alfred,ZA,69.40,light rain,-33.5906,26.8910,The Halyards Hotel
24,Lompoc,US,56.37,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
33,Boende,CD,69.60,overcast clouds,-0.2167,20.8667,
...,...,...,...,...,...,...,...
828,Faxinal,BR,65.44,overcast clouds,-24.0003,-51.3194,Hotel Pires
835,Montes Claros,BR,69.58,clear sky,-16.7350,-43.8617,ibis Montes Claros Shopping
838,Tombouctou,ML,58.23,clear sky,20.0000,-3.0000,
849,Lucapa,AO,61.41,overcast clouds,-8.4192,20.7447,Resid√™ncia Ulisses Dos Santos
850,Miraflores,MX,61.45,few clouds,19.2167,-98.8083,Hotel Mansi√≥n

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} ¬∞F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

In [17]:
output_data_file = "weather_data/WeatherPy_vacation.map.png"