## Deliverable 3. Create a Travel Itinerary Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,Mariahu,IN,55.36,clear sky,25.6167,82.6167,THAKUR GATE
1,17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel
2,22,Port Alfred,ZA,69.40,light rain,-33.5906,26.8910,The Halyards Hotel
3,24,Lompoc,US,56.37,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
4,33,Boende,CD,69.60,overcast clouds,-0.2167,20.8667,NaN

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [17]:
cll = vacation_df[["City", "Lat", "Lng"]].copy() 
cll.head(10)

          City      Lat       Lng
0      Mariahu  25.6167   82.6167
1     Havelock  34.8791  -76.9013
2  Port Alfred -33.5906   26.8910
3       Lompoc  34.6391 -120.4579
4       Boende  -0.2167   20.8667
5         Lebu -37.6167  -73.6500
6         Gasa  31.5000   34.4667
7     Coquimbo -29.9533  -71.3436
8        Ancud -41.8697  -73.8203
9         Faya  18.3851   42.4509

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

SyntaxError: invalid syntax (1472793940.py, line 6)

In [19]:
vacation_start =vacation_df.loc[cll["City"] == "Havelock"]
vacation_start
start = vacation_start["Lat"].values[0],vacation_start["Lng"].values[0]
start
vacation_stop_1 =vacation_df.loc[cll["City"] == "Lebu"]
stop1 = vacation_stop_1["Lat"].values[0],vacation_stop_1["Lng"].values[0]
stop1

vacation_stop_2 =vacation_df.loc[cll["City"] == "Lompoc"]
stop2 = vacation_stop_2["Lat"].values[0],vacation_stop_2["Lng"].values[0]
stop2

vacation_stop_3 =vacation_df.loc[cll["City"] == "Ancud"]
stop3 = vacation_stop_3["Lat"].values[0],vacation_stop_3["Lng"].values[0]
stop3

vacation_end =vacation_df.loc[cll["City"] == "Havelock"]
end = vacation_end["Lat"].values[0],vacation_end["Lng"].values[0]
end

(34.8791, -76.9013)

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
itinerary_df= vacation_start.append([vacation_stop_1, vacation_stop_2, vacation_stop_3, vacation_end])
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel
5,35,Lebu,CL,56.95,broken clouds,-37.6167,-73.6500,Hostal Las Lilas
3,24,Lompoc,US,56.37,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
8,55,Ancud,CL,53.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa
1,17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
startend_stops = gmaps.directions_layer(
       start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='BICYCLING')
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
#fig.add_layer(Kamenka2Ostrov_via_Bereznyky)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel
5,35,Lebu,CL,56.95,broken clouds,-37.6167,-73.6500,Hostal Las Lilas
3,24,Lompoc,US,56.37,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
8,55,Ancud,CL,53.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa
1,17,Havelock,US,65.01,moderate rain,34.8791,-76.9013,Sherwood Motel

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [32]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
1  34.8791  -76.9013
5 -37.6167  -73.6500
3  34.6391 -120.4579
8 -41.8697  -73.8203
1  34.8791  -76.9013

In [33]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))